        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            <div class="footer-container">
                <div id="footer-logo">
                    <img src="img/csumb-round-logo-blue.png" alt="Round CSUMB logo">
                </div>
                
                <div id="copyright">
                    CST336 Internet Programming. 2020&copy; Solis<br />
                    <strong>Disclaimer:</strong> The information in this webpage
                    is fictitous.<br /> It is used for academic purposes only.
                </div>
            </div>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>