<!DOCTYPE html>
<html lang="en">
<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <title>Miguel Solis: Personal Site</title>
        <meta charset="utf-8"/>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <!-- Semantic Tags-->
        <header>
            <h1>Robotics</h1>
        </header>
    
        <hr>
        
        <nav>
            <a href="/" <%= current === 'home' ? 'class=current' : '' %> >Home</a>
            <a href="/hmi" <%= current === 'hmi' ? 'class=current' : '' %> >HMI</a>
            <a href="/computer_vision" <%= current === 'computer_vision' ? 'class=current' : '' %> >Computer Vision</a>
            <a href="/control" <%= current === 'control' ? 'class=current' : '' %> >Planning and Control</a>

        </nav>
        
        <br />