<!DOCTYPE html>
<html lang="en">
<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <title>Miguel Solis: Personal Site</title>
        <meta charset="utf-8"/>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <!-- Semantic Tags-->
        <header>
            <h1>Robotics</h1>
        </header>
    
        <hr>
        
        <nav>
            <a href="index.html" class="current">Home</a>
            <a href="hmi.html">HMI</a>
            <a href="computer_vision.html">Computer Vision</a>
            <a href="control.html">Planning and Control</a>

        </nav>
        
        <br />