<%- include('partials/header', {current: 'computer_vision'}) %>
        <main>
            <figure>
                <img src="img/computer-vision-example.jpeg" alt="Computer Vision example"><br />
                <span id="creditText">Source: <a href="http://yonah.org/channel/visionhack-computer-vision-russia/">Welker Media</a></span>
            </figure>
            <div>
                <h2>Computer Vision</h2>
                <p>Computer Vision (CV) is the analysis of real-world images and videos with 
                the help of artificial intelligence. It is an attempt to replicate human sight. 
                We can break human sight into three parts: seeing, describing, and understanding. 
                To see there are images sensors, like the ones used in digital cameras. To describe 
                is the ability to single out individual objects in an image. While understanding 
                means the ability to identify what the object is seen in the example as boxes 
                with labels. Computer vision can be used in robotics for the identification of 
                objects and get contextual information about its environment. These objects can be 
                obstructions in the robot’s path, possibly an item that needs to be picked up or 
                used for localization. For more information please refer to <a href="https://medium.com/@miccowang/computer-vision-the-closet-thing-to-ai-on-our-personal-device-d2ff63994856">
                <cite>Computer Vision, a Branch of Artificial Intelligence on Personal Devices</cite></a> by Micheal Wang.</p>
            </div>
        </main>
<%- include('partials/footer') %>