<%- include('partials/header') %>
        <main>
            <figure>
                <img src="img/motion-planning-example.jpg" alt="Computer Vision example"><br />
                <span id="creditText">Source: <a href="https://en.wikipedia.org/wiki/Motion_planning">Wikipedia</a></span>
            </figure>
            <div>
                <h2>Planning and Control</h2>
                <p>Path Planning is the problem of find machine configurations to arrive from a start 
                point to a destination. In robotics, an example would be a robot navigating through a 
                building avoiding walls and falling down stairs. Robots have motion planning algorithms 
                that determine the speed and direction of the motions axes, with the input from many 
                sensors. Some of the algorithms used in path planning are grid-based search, interval-based 
                search, geometric, reward-based, artificial potential fields, and sampling-based.</p>
                For more information check out the <a href="https://en.wikipedia.org/wiki/Motion_planning">Motion Planning Wikipedia</a> page.
            </div>
        </main>
<%- include('partials/footer') %>