<%- include('partials/header', {current: 'hmi'}) %>
        <main>
            <figure>
                <img src="img/robot-control-menu.png" alt="Robot HMI"><br />
                <span id="creditText">Source: <a href="https://robodk.com/blog/robot-hmi-automation/">RoboDK blog</a></span>
            </figure>
            <div>
                <h2>Human Machine Interfaces</h2>
                <p>HMIs are a type of user interface that is commonly used in manufacturing. 
                It usually consists of a touch screen with a graphical user interface and various buttons. 
                HMIs are where the person operating the machine or robot can see data from the machine, 
                send commands, and diagnose issues.</p><br />
                Robots interfaces:
                <ul>
                    <li>Command-line: this is usually the most versatile because it can give you more direct control of the robot.
                    The con is that it requires the user to know the programming lanugage used.</li>
                    <li>Graphical: an interface that uses images usually displayed on a touch screen. This interface is the most
                    user friendly but it can limit control functionality. What it lacks in control funcitonality it can make up with presentation
                    of machine states, data, and diagnostic information.</li>
                    <li>Controller: similar to video game controllers and others like the controller for the Da Vinci surgical system. 
                    These allow for real-time control of robots. </li>
                    <li>Gesture: an operator uses hand gestures to command specific movements. This type of interface has limited uses.</li>
                </ul>
                For more information check out <a href="https://www.roboticsbusinessreview.com/news/how-humans-tell-robots-what-to-do/"><cite>How Humans Tell Robots What to Do</cite></a>
                by Bryan Hellman.
            </div>
        </main>
<%- include('partials/footer') %>