<%- include('partials/header', {current: 'home'}) %>       
        <div class="gallery-container">
            <div class="dropdown">
                <img src="img/kuka-robots.jpg" alt="Picture of Kuka Robot">
                <div class="dropdown-content"><div class="desc">Kuka Robot Arms</div><img src="img/kuka-robots.jpg" alt="Picture of Kuka Robots"></div>
            </div>  
            <div class="dropdown">
                <img src="img/roomba.jpg" alt="Picture of Roomba Robot">
                <div class="dropdown-content"><div class="desc">Roomba Robot</div><img src="img/roomba.jpg" alt="Picture of Roomba Robot"></div>
            </div>
            <div class="dropdown">
                <img src="img/da-vinci-robot.jpg" alt="Picture of Da Vinci Robot">
                <div class="dropdown-content"><div class="desc">Da Vinci Surgical Robot</div><img src="img/da-vinci-robot.jpg" alt="Picture of Da Vinci Robot"></div>
            </div>
        </div>
        
        <main>
            <div>
                <p>Robotics is an interdisciplinary field that incorporates many engineering 
                disciplines and computer science. The goal of robotics is to create intelligent 
                machines that can perform tasks in place of humans. A great use for robotics is 
                in replacing humans who work in dangerous environments. This includes working 
                with radioactive materials, bombs, and in environments like space or underwater. 
                What role does Computer Science play in the Robotics field? Computer scientists
                program the movements and behaviors of robots.</p>
                <br />
                Some applications of Computer Science in robotics are:
                <ol>
                    <li>Human Machine Interfaces (HMIs)</li>
                    <li>Computer Vision</li>
                    <li>Planning and Control</li>
                </ol>
                For more information visit the <a href="https://en.wikipedia.org/wiki/Robotics">Robotics Wikipedia</a> page.
            </div>
            <figure>
                <img src="img/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="Picture of Robot"><br />
                <span id="creditText">Photo by <a href="https://unsplash.com/@agkdesign?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Knight</a> on <a href="/s/photos/robotics?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </figure>
        </main>
        <div>
            <%- include('fake') %>
        </div>
<%- include('partials/footer') %>